@media (max-width: 1300px) {

  .product__more {
    margin-top: 60px;
  }
}

@media (max-width: 1200px) {

  .banner-section__slider-img {
    min-height: 380px;
    max-width: 600px;
  }

  .banner-section__inner {
    justify-content: space-around;
  }

  .banner-section__slider {
    max-width: 600px;
  }

  .banner__link img {
    width: 100%;
    height: auto;
  }

  .catalog__inner-list {
    justify-content: space-around;
  }

}

@media (max-width: 1100px) {

  .menu__item + .menu__item {
    padding-left: 20px;
  }

  .header__address {
    margin-right: 20px;
  }

  .banner-section.page-section {
    margin-top: 0;
  }

  .card__input-search {
    margin-right: 0;
  }

}

@media (max-width: 968px) {
  .header__bottom {
    display: none;
  }

  .menu__list {
    display: none;
  }

  .menu__btn {
    display: block;
    background-color: transparent;
    cursor: pointer;
    border: none;
    padding: 0;
  }

  .menu__btn-line {
    display: block;
    background: #2F3035 ;
    border-radius: 3px;
    height: 3px;
    width: 34px;
    margin: 8px 0;
  }

  .menu__mobile-linewrapper {
    display: block;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    font-family: 'SFProDisplay-Bold', sans-serif;
    background: #F0F0F4;
    overflow-x: scroll;
  }

  .menu__mobile-line {
    padding: 14px 0 14px 15px;
    min-width: 1000px;
  }

  .banner-section__inner {
    margin-top: 25px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .banner-section__slider-item {
    text-align: center;
  }

  .banner-section__slider {
    max-width: 100%;
  }

  .banner-section__slider-img {
    max-width: 100%;
    margin-bottom: 25px;
  }

  .mobile-overflow {
    width: max-content;
    min-width: 100%;
  }

  .catalog__filter-itemsinner,
  .tabs-wrapper,
  .breadcrumbs__inner {
    overflow-x: scroll;
  }

  .tabs-wrapper.tabs-wrapper--no-scroll {
    overflow: hidden;
  }

  .footer__top-inner {
    gap: 20px;
  }

  .footer__top-item.footer__top-social {
    width: 90px;
  }

  .social-list {
    flex-wrap: wrap;
    gap: 35px 15px;
  }

  .social-list__item + .social-list__item {
    margin: 0;
  }

  .footer__top-item.footer__top-newslatter {
    margin-right: 0;
  }

  .product-card__inner {
    flex-wrap: wrap;
  }

  .product-card__tabs {
    display: none;
  }

  .product-card__content {
    order: -1;
  }

  .product-card__btn-mobile {
    display: block;
    margin-top: 40px;
  }

  .product-card__img-box {
    width: 100%;
  }

  .card__top-line label {
    display: block;
    width: 100%;
    margin-bottom: 25px;
    margin-left: 0;
  }

  .tabs.card__tabs-box.mobile-overflow {
    padding-inline: 15px;
  }

  .product-card__price-old {
    display: block;
    width: max-content;
    margin-inline: auto;
  }

  .card__label-search::after {
    display: none;
  }

  .card-list {
    font-size: 15px;
    line-height: 18px;
  }

  .card-list .list-item__title {
    font-family: 'SFProDisplay-Semibold', sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
  }



}

@media (max-width: 882px) {
  
  .catalog__filter-button {
    display: none;
  }
  
  .catalog__filter-btn {
    margin-top: 30px;
  }

  .catalog__filter {
    display: block;
  }
}

@media (max-width: 800px) {

  .footer__top-inner {
    flex-wrap: wrap;
  }

  .footer__top-item.footer__top-social {
    width: auto;
  }

  .social-list {
    flex-wrap: nowrap;
    gap: 30px;
  }

  .social-list__item + .social-list__item {
    margin: 0;
  }

  .product__title {
    text-align: center;
  }

}

@media (max-width: 700px) {

  .card-list {
    display: block;
  }

  .card-list .list-item__title {
    display: block;
  }

  .card-list__list-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .card-list__list-item:first-child {
    display: grid;
    height: auto;
    opacity: 1;
  }

  .card-list__list-item {
    height: 0;
    opacity: 0;
  }
  
  .card-list__list-item--visible {
    height: auto;
    opacity: 1;
  }

  .card-list__list-item > * {
    margin-block: 10px;
    border: none;
  }

  .card-list > * {
    border-bottom: 1px solid rgba(47, 48, 53, .1); 
  }
    
  .list-item__workinghours {
    margin-top: 5px;
  }
    
  .list-item__buy  {
    grid-column: 1 / 3;
    grid-row: 6 / 7;
    margin: 20px 6px;
   }
    
  .list-item__btn {
    min-width: 100%;
    font-size: 15px;
    line-height: 18px;
    padding-block: 16px;
  }
    
  .list-item__title-address {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
    
  .list-item__title-workinghours {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    margin-bottom: 5px;
  }
    
  .list-item__title-available {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
  }
    
  .list-item__title-num {
    grid-column: 1 / 2;
    grid-row: 5 / 6;
  }
    
  .list-item__address {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
    
  .list-item__workinghours {
     grid-column: 1 / 3;
    grid-row: 3 / 4;
  }

  .list-item__available {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
  }
    
  .list-item__num {
    grid-column: 2 / 3;
    grid-row: 5 / 6;
  }

  .list-item__title:nth-child(4) {
    grid-column: inherit;
  }

  .card-list__list-item > * {
    padding: 0;
  }

  .card__input-search {
    display: block;
    margin-top: 12px;
    margin-left: 0;
    background-color: #fff;
    border: 1px solid #F0F0F4;
    border-radius: 0;
    width: 100%;
  }

  .card__top-line * {
    color: #2F3035;
  }

  .card__tab-content.tabs-content {
    margin-left: 0;
  }

  .card__top-line label {
    margin-bottom: 0;
  }

  .card__top-line label.card__label-search {
    margin-bottom: 25px;
  }

  .card__top-line label.card__label-pickup {
    padding-block: 8px;
    margin-bottom: 6px;
    border-bottom: 1px solid rgba(47, 48, 53, .1); 
  }

  .see-more {
    display: block;
    font-family: 'SFProDisplay-Regular', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #1C62CD;
    border-bottom: 1px solid #1C62CD;
    padding-right: 20px;
    position: relative;
    cursor: pointer;
    margin: 20px auto;
    width: max-content;
  }
  
  .see-more::after {
    content: '';
    position: relative;
    display: inline-block;
    background-image: url(../images/arrow-down.svg);
    right: -16px;
    top: 1px;
    width: 12px;
    height: 8px;
  }

  .see-more.see-more--active::after {
    transform: rotate(180deg);
  }


}

@media (max-width: 640px) {

  .header__address {
    display: none;
  }

  .logo__img {
    max-width: 60px;
    height: auto;
  }

  .banner-section__slider-img {
    min-height: 200px;
  }

  .banner-section .container {
    padding: 0;
  }

  .search__content-btn {
    font-size: 0;
    line-height: 0;
    background-image: url(../images/Search-icon.svg);
    width: 24px;
    height: 24px;
    background-color: transparent;
    margin: 13px;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
  }

  .search__content-input {
    height: 50px;
    padding-right: 50px;
  }

  .search__content-form {
    position: relative;
  }

  .banner__link img {
    min-height: 90px;
    object-fit: contain;
  }

  .footer {
    background-color: #fff;
  }

  .footer__top {
    background-color:#F9F9FC;
  }

  .footer .container {
    padding: 0;
  }

  .footer__top-inner {
    gap: 0;
  }

  .footer__top-item,
  .footer__top-item.footer__top-newslatter,
  .footer__top-item.footer__top-social {
    width: 100%;
    text-align: center;
  }

  .footer__top-item.footer__top-newslatter {
    margin-bottom: 41px;
    padding-inline: 10px;
  }

  .footer__top-item.footer__top-social {
    padding-top: 41px;
    background-color: #fff;
  }

  .social-list {
    justify-content: center;
    background-color: #fff;
  }

  .footer-list {
    display: none;
  }

  .footer__bottom {
    flex-direction: column;
    align-items: start;
    margin: 80px 0 0 0;
    padding: 0 0 22px 0;
    gap: 12px;
  }

  .footer__bottom-link:first-child,
  .footer__bottom-link + .footer__bottom-link {
    margin: 0;
    padding: 0;
  }

  .top-item__info,
  .top-item__shop {
    position: relative;
    cursor: pointer;
    padding: 16px 10px 16px 16px;
    border-top: 2px solid #F0F0F4;
    text-align: left;
    font-family: 'SFProDisplay-Medium', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.0861538px;
    color: #7F7F7F;
  }

  .top-item__shop {
    border-bottom: 2px solid #F0F0F4;
  }
  
  .top-item__info::after,
  .top-item__shop::after {
    content: "";
    background-image: url(../images/arrow-down.svg);
    position: absolute;
    right: 12px;
    bottom: 20px;
    width: 12px;
    height: 8px;
  }
  
  .footer__top-title--active::after {
    transform: rotate(180deg);
  }

  .catalog__inner {
    flex-wrap: wrap;
  }
  
  .aside__btn {
    display: block;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    padding: 15px 0;
    color: white;
    width: 100%;
    background-color: #1C62CD;
    margin-bottom: 30px;
  }

  .aside-filter {
    display: none;
  }

  .product-card__title {
    font-size: 20px;
    line-height: 24px;
  }

  .product-card__buttons a + a {
    margin-left: 0;
  }

  .product-card__img {
    max-width: 100%;
    height: auto;
  }

}

@media (max-width: 440px) {

  .banner-section__slider-img {
    min-height: 164px;
  }

  .categories__item {
    min-width: auto;
  }

  .pagination-list__item {
    margin: 0;
  }

}